.material-icons {
    color: $form-gray;
}


.form__input {
    text-indent: 40px;
    
}

.input__container {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%)
}

.form__shipping {
    padding: 16px;
    gap: 8px;
}

.form__contact {
    padding: 16px;
    gap: 8px;
}

.form__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $dark-gray;
}

.form__label {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $medium-gray;
    place-self: flex-start;
    
}

.form--row {
    gap: 32px;
}

.form__label--checkbox {
    color: $medium-gray;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.form__checkbox__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
    
}

input {
   border-radius: 12px;
   border: 1px solid $form-gray; 
   height: 56px;
   width: 100%;

}

.checkbox {
     width: auto;
     place-self: flex-start;
    
}

select {
    border-radius: 12px;
    border: 1px solid $form-gray; 
    height: 56px;
    width: 100%;
    color: $form-gray;
    
}

option {
    color: $dark-gray;
    
}

.form__country--col {
    gap: 8px;
}

.form__postCode__wrapper {
    gap: 8px;
}

.form__contact {
    width: 100%;
}

.checkbox {
    height: auto;
}

.form__button {
    border: none;
    background-color: $orange;
    padding: 16px 45px;
    border-radius: 12px;
    color: #fff;
    place-self: flex-end;
    cursor: pointer;
    &:hover {
        transform: translateY(-5%);
    }
}

.hero__right {
    background-color: $offwhite;
    padding: 32px;
    border-radius: 12px;
    gap: 32px;
    align-items: flex-start;
}

.card__img {
    width: 150px;
    border-radius: 16px;
}

.card__wrapper {
    width: 100%;
    gap: 24px;
}

.card__rightsection {
    gap: 16px;
    width: 100%;
}

.card__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $gray;
}

.card__price--actual {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $orange;
}

.card__price--before {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $gray;

}

.card__itemcount {
    padding: 16px;
    border: 1px solid #828282;
    border-radius: 12px;
    width: 80%;
    gap: 16px;
}

