.hero__wrapper{
    align-items: flex-start;
    gap: 112px;
}

.hero__right {
    background-color: $offwhite;
    padding: 32px;
    border-radius: 12px;
    gap: 32px;
    align-items: flex-start;
}

.card__img {
    width: 150px;
    border-radius: 16px;
}

.card__wrapper {
    width: 100%;
    gap: 24px;
}

.card__rightsection {
    gap: 16px;
    width: 100%;
}

.card__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $gray;
}

.card__prices {
    gap: 4px;
}

.card__price--actual {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $orange;
}

.card__price--before {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $gray;

}

.card__itemcount {
    padding: 16px;
    border: 1px solid #828282;
    border-radius: 12px;
    width: 80%;
    gap: 16px;
}